body {
  background-color: var(--color-page);
  color: var(--color-cnt-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  border-color: var(--color-brd-line);
}